* {
  margin: 0;
  padding: 0;
  font-family: 'proxima nova';
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #111;
  color: #fff;
}

h1{
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 81, 203);
}

h2{
  text-align: center;
  background-color: green;
  margin-top: 20px;
}

.p1, div{
  font-size: 2.5rem;
  padding: 20px;
}

.selec{
  font-family: monospace;
  color: #48e;
}

ul{
  padding: 0px 20px;
}

li{
  padding: 20px 0 ;
}


/* ? Selectores por atributo */

/** Selector por atributo por valor exacto */
input[type="text"] {
  border: none;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
  background-color: #48e;
  padding: 10px;
  font-size: 20px;
  color: #fff;
}

/** Selector por atributo que TERMINA en... */
img[src$="jpg"]{
  width: 300px;
  margin: 20px 0;
}

/** Selector por atributo que EMPIEZA por... */
img[src^="../"]{
  width: 300px;
  margin: 20px 0;
}

/** Selector por atributo que contiene el texto especificado... */
a[href*="inde"] {
  color: rgb(0, 255, 0);
}

/* ?Selectores por valor descendente */
div p{
  color:orange;
}

/* ? Selector hijo directo */
ul > .list-item{
  color: orange;
  padding: 0;
}

/* ?Selector adyacende ( selecciona la etiqueta SIGUIENTE de la seleccionada ) */

/* *TODO ul + li{
  padding: 0;
} */

/* ?Selector de hermanos generales ( selecciona la etiqueta SIGUIENTE de la seleccionada ) */

/* *TODO ul ~ li{
  padding: 20px 0 20px 0;
} */