body {
  background-color: var(--oscuro);
  color: var(--claro);
}

.header__h1 {
  text-align: center;
  background-color: #48e;
  padding: 20px 0;
  font-weight: bold;
  font-size: 3rem;
}

.main {
  margin: 0 30px;
}

.main__p {
  font-size: 2rem;
  margin: 15px 0;
}

/* .container{} */

.container__h2 {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  padding: 10px 0;
  background-color: green;
  margin: 20px 0;
}

.container__p,
.container__ul {
  font-size: 1.8rem;
  padding: 0 15px;
}

.container__h3 {
  text-align: center;
  font-size: 2.4rem;
  padding: 10px 0;
  background-color: rgb(226, 43, 43);
  margin: 15px 0;
  border-radius: 5px;
}

.container__ul {
  margin: 0 8px;
}

.container__li {
  list-style-type: disc;
  font-size: 2rem;
  margin: 20px 0;
}

.container__li::marker {
  color: rgb(0, 255, 0);
  font-size: 2.5rem;
}

.ejemplo {
  width: 100%;
  height: 300px;
  background-color: darkslategray;
  border: 1px solid #fff;
  position: relative; /*! Importante: para poder que las cajas absolutas se posicionen dentro de este contentedor que es el contenedor padre, debemos agregarle la position:relative.*/
}

.ejemplo__caja {
  width: 100px;
  height: 100px;
  position: absolute;
  text-align: center;
}

.ejemplo__caja1 {
  background-color: #48e;
  right: 0;
}
.ejemplo__caja2 {
  background-color: rgb(214, 107, 7);
  bottom: 0;
}
.ejemplo__caja3 {
  background-color: rgb(29, 145, 0);
  top: 25px;
}
.ejemplo__caja4 {
  background-color: rgb(145, 0, 126);
  right: 0;
  bottom: 0;
}
.ejemplo__caja5 {
  background-color: rgb(192, 30, 30);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
