*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}

.card{
    width: 500px;
    margin: auto; 
    /* margin: auto: hace que el elemento se centre horizontalmente. */
    text-align: center;
    background-color: rgb(0, 83, 139);
    color: #fff;
    margin-top: 50px;
    border-radius: 7px;
}

.card_h1{
    padding: 20px 0;
    font-family: 'Proxima Nova Regular';
    text-transform: capitalize;
}
.card_h2{
    padding: 0 0 20px;
    text-decoration: underline;
    text-decoration-color: rgb(20, 163, 220);
}
.card_img{
    width: 200px;
    border-radius: 5px;
}
.card_p{
    padding: 30px 15px;
    text-align: justify;
}

.div_link {
    text-align: center;
    margin-top: 50px;
}

.v1{
    color: #48e;
    font-weight: bold;
    font-size: 2.5rem;

}